

  .carsoual-container{
    max-width:1490px;
    width:100%;
    margin:0 auto;
    position:relative;
  }
  .responsive-img{
    width: 100%;
  }

  .item{
       padding: 0 15px;
  }
  
h1{
 text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 300;
   line-height: 1.2121212121212121212121212121212em;
   color: #0c0c0c;
   text-align: center;
   visibility: visible;
   -webkit-transform: translateY(0) scale(1);
   opacity: 1;
   transform: translateY(0) scale(1);
   opacity: 1;
   -webkit-transition: -webkit-transform 0.85s ease-in-out 0s, opacity 0.85s ease-in-out 0s;
   transition: transform 0.85s ease-in-out 0s, opacity 0.85s ease-in-out 0s;
}
.wpb_content_element {
 margin-bottom: 0px;
}
.center-border {
 width: 30%;
 margin: 0 auto;
 height: 2px;
 background: #f5f5f5;
 position: relative;
 margin-bottom: 20px;
}
.center-border:before {
 content: "";
 width: 10px;
 height: 10px;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 border-radius: 50%;
 background: #1D2951;
 position: absolute;
 left: 50%;
 margin-left: -4px;
 top: -3px;
}
.space-40 {
 width: 100%;
 height: 40px;
}

h1{
  font-size: 20px;
  line-height: 1.733333333333333em;
  font-family: Georgia,serif;
  text-align: center;
  font-weight: bold;

}
[dir="ltr"] h1{
  float: left;
  font-size: 20px;
  line-height: 1.733333333333333em;
  font-family: Georgia,serif;
  text-align: center;
  font-weight: bold;

}
@font-face {
    font-family: Effra-M;
    src: url(src\assets\fonts\alfont_com_AlFont_com_Effra_Md-1.ttf);
  }

  @media (min-width: 768px) {
    .element {
        display: grid;
        grid-template-columns: 0.2fr 0.5fr;
        grid-template-rows: auto 1fr;
        justify-content: center;
    }
  }
  header {
    /* background: #afafaf; */
    padding: 1rem;
    font-size: 30px;
  }
  picture {
    /* background: #ccc; */
    display: block;
  }
  picture img {
    display: block;
    width: 100%;
    height: auto;
  }
  @media (min-width: 768px) {
    picture {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
  main {
    /* background: #efefef; */
    padding: 1rem;
  }

  /* slider  */
  .slider .slider-item{
    display: none;
    animation: reveal .5s ease-in-out;
  }
  .slider .slider-item.active {
    display: block;
  }
  .slider .dots {
    text-align: center;
    padding: 10px;
  }
  .slider .dots li {
    cursor: pointer;
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 7px 11px;
    line-height: .5;
    border-radius: 50%;
    text-indent: -9999px;
    opacity: .5;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
  }
  .slider .dots li.active{
    opacity: 1;
  }
  @keyframes reveal{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  } 


  picture .slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

picture .slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

picture .slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

picture .slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}