<router-outlet></router-outlet>

<div class="element">
    <header>{{ 'stair-case' | translate }}</header>
    <picture>
     
<ul class="slides">
  <input type="radio" name="radio-btn" id="img-1" checked />
  <li class="slide-container">
  <div class="slide">
    <img src="/assets/images/Staircase/Top.jpg" />
      </div>
  <div class="nav">
    <label for="img-6" class="prev">&#x2039;</label>
    <label for="img-2" class="next">&#x203a;</label>
  </div>
  </li>

  <input type="radio" name="radio-btn" id="img-2" />
  <li class="slide-container">
      <div class="slide">
        <img src="/assets/images/Staircase/Motion.jpg" />
      </div>
  <div class="nav">
    <label for="img-1" class="prev">&#x2039;</label>
    <label for="img-3" class="next">&#x203a;</label>
  </div>
  </li>

  <input type="radio" name="radio-btn" id="img-3" />
  <li class="slide-container">
      <div class="slide">
        <img src="/assets/images/Staircase/stair2.png" />
      </div>
  <div class="nav">
    <label for="img-2" class="prev">&#x2039;</label>
    <label for="img-4" class="next">&#x203a;</label>
  </div>
  </li>

  <input type="radio" name="radio-btn" id="img-4" />
  <li class="slide-container">
      <div class="slide">
        <img src="/assets/images/Staircase/Stilo 70.jpg" />
      </div>
  <div class="nav">
    <label for="img-3" class="prev">&#x2039;</label>
    <label for="img-5" class="next">&#x203a;</label>
  </div>
  </li>

  <input type="radio" name="radio-btn" id="img-5" />
  <li class="slide-container">
      <div class="slide">
        <img src="/assets/images/Staircase/s2.jpg" />
      </div>
  <div class="nav">
    <label for="img-4" class="prev">&#x2039;</label>
    <label for="img-6" class="next">&#x203a;</label>
  </div>
  </li>

  <input type="radio" name="radio-btn" id="img-6" />
  <li class="slide-container">
      <div class="slide">
        <img src="/assets/images/Staircase/Nova.jpg" />
      </div>
  <div class="nav">
    <label for="img-5" class="prev">&#x2039;</label>
    <label for="img-1" class="next">&#x203a;</label>
  </div>
  </li>

  <!-- sef -->
  <input type="radio" name="radio-btn" id="img-7" />
  <li class="slide-container">
      <div class="slide">
        <img src="/assets/images/Staircase/sta4.jpg" />
      </div>
  <div class="nav">
    <label for="img-5" class="prev">&#x2039;</label>
    <label for="img-1" class="next">&#x203a;</label>
  </div>
  </li>
  <input type="radio" name="radio-btn" id="img-8" />
  <li class="slide-container">
      <div class="slide">
        <img src="/assets/images/Staircase/Venus.jpg" />
      </div>
  <div class="nav">
    <label for="img-5" class="prev">&#x2039;</label>
    <label for="img-1" class="next">&#x203a;</label>
  </div>
  </li>
  <input type="radio" name="radio-btn" id="img-9" />
  <li class="slide-container">
      <div class="slide">
        <img src="/assets/images/Staircase/stair-vision.jpg" />
      </div>
  <div class="nav">
    <label for="img-5" class="prev">&#x2039;</label>
    <label for="img-1" class="next">&#x203a;</label>
  </div>
  </li>
  <input type="radio" name="radio-btn" id="img-10" />
  <li class="slide-container">
      <div class="slide">
        <img src="/assets/images/Staircase/Vision.jpg" />
      </div>
  <div class="nav">
    <label for="img-5" class="prev">&#x2039;</label>
    <label for="img-1" class="next">&#x203a;</label>
  </div>
  </li>
  <input type="radio" name="radio-btn" id="img-11" />
  <li class="slide-container">
      <div class="slide">
        <img src="/assets/images/Staircase/imagel312.jpg" />
      </div>
  <div class="nav">
    <label for="img-5" class="prev">&#x2039;</label>
    <label for="img-1" class="next">&#x203a;</label>
  </div>
  </li>
  <input type="radio" name="radio-btn" id="img-12" />
  <li class="slide-container">
      <div class="slide">
        <img src="/assets/images/Staircase/L3.jpg" />
      </div>
  <div class="nav">
    <label for="img-5" class="prev">&#x2039;</label>
    <label for="img-1" class="next">&#x203a;</label>
  </div>
  </li>
  <li class="nav-dots">
    <label for="img-1" class="nav-dot" id="img-dot-1"></label>
    <label for="img-2" class="nav-dot" id="img-dot-2"></label>
    <label for="img-3" class="nav-dot" id="img-dot-3"></label>
    <label for="img-4" class="nav-dot" id="img-dot-4"></label>
    <label for="img-5" class="nav-dot" id="img-dot-5"></label>
    <label for="img-6" class="nav-dot" id="img-dot-6"></label>
    <label for="img-7" class="nav-dot" id="img-dot-7"></label>
    <label for="img-8" class="nav-dot" id="img-dot-8"></label>
    <label for="img-9" class="nav-dot" id="img-dot-9"></label>
    <label for="img-10" class="nav-dot" id="img-dot-10"></label>
    <label for="img-11" class="nav-dot" id="img-dot-11"></label>
    <label for="img-12" class="nav-dot" id="img-dot-12"></label>
  </li>
</ul>
     </picture>
    <main>
      <p>{{ 'stair-case-dis1' | translate }}</p>
      <p>{{ 'stair-case-dis2' | translate }}</p>
      <p style="color:red;font-size:20px;">For orders and inquiries: <br>Tel : 2701848 <br>Tel : 2702630</p>

    </main>

  </div>

<br><br>
<div class="carsoual-container">

    <hr>
    <h1>{{ 'stair-case' | translate }}</h1>
     <div class="wpb_raw_code wpb_content_element wpb_raw_html">
         <div class="wpb_wrapper">
              <div class="center-border"></div>
       <div class="space-40"></div>
         </div>
     </div>
     <owl-carousel [options]="homeSlider" [carouselClasses]="['owl-theme','customClassName']">
      <div class="item"  *ngFor="let item of StairCaseproducts;let i = index" [attr.data-slide-to]="i" [index]="i">
          <a  style="cursor: pointer;">
          <img class="responsive-img"  [src]="item.url">
          <h1>{{item.title}}</h1>
          <div class="carousel-caption d-none d-md-block">
           </div>
          </a>
      </div>
    
    </owl-carousel>
</div>