<!-- <owl-carousel [options]="homeSlider" [carouselClasses]="['owl-theme','customClassName']">
    <div class="item"  *ngFor="let item of items;let i = index" [attr.data-slide-to]="i" [index]="i">
        <a  style="cursor: pointer;"
        [routerLink]="[index]"
        routerLinkActive="active">
        <img class="responsive-img"  [src]="item.url">
        <div class="carousel-caption d-none d-md-block">
           <h5 [textContent]="item.title"></h5>
           <p [textContent]="item.symmery"></p>
         </div>
        </a>
    </div>

</owl-carousel>  -->


<!-- 
<div class="container">
    <owl-carousel [options]="homeSlider" [carouselClasses]="['owl-theme','customClassName']">
        <div class="item">
            <a
 style="cursor: pointer;"
 [routerLink]="[index]"
 routerLinkActive="active"
 class="list-group-item clearfix">
            <img [src]="product.imagePath" alt="{{product.name}}" class="img-responsive" style="max-height:50px;">
            <h4 class="list-group-item-heading">{{ product.name}} </h4>
        <p class="list-group-item-text">{{ product.price }}</p> 
    </a>
</div>
    </owl-carousel>
   </div> 
    -->