<!-- <p>You are LoggedIn</p> -->
<!-- <h1>try</h1> -->
<!-- <h1>Home Page</h1> -->
<!-- <router-outlet></router-outlet> -->

<!-- <button (click)="logout()">Logout</button> -->
<!-- <router-outlet></router-outlet> -->



<!-- <div class="row">
      <app-products></app-products>

</div> -->
<br>
<div class="container">
<h1>أراء العملاء</h1>
</div>
<div class="container">
    <article class="card shadow">
    <h1 class="card__title">Ahmad</h1>
    <p class="card__paragraph">متجر سهل الاستخدام وخدمة رائعة.</p>
    <p class="card__paragraph">
    </p>
  </article>
  <article class="card shadow">
    <h1 class="card__title">Ahmad</h1>
    <p class="card__paragraph">متجر سهل الاستخدام وخدمة رائعة.</p>
    <p class="card__paragraph">
    </p>
  </article>
  <article class="card shadow">
    <h1 class="card__title">Ahmad</h1>
    <p class="card__paragraph">متجر سهل الاستخدام وخدمة رائعة.</p>
    <p class="card__paragraph">
    </p>
  </article>
</div>
<router-outlet></router-outlet>

    <app-products></app-products>
    <!-- <app-product-list></app-product-list> -->
