/* .product-thumbs .swiper-slide img {
    border:2px solid transparent;
    object-fit: cover;
    cursor: pointer;
  }
  .product-thumbs .swiper-slide-active img {
    border-color: #bc4f38;
  }
  .product-slider .swiper-button-next:after,
  .product-slider .swiper-button-prev:after {
      font-size: 20px;
      color: #000;
      font-weight: bold;
  } */